.confirmar-pago-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.metodos-pago {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.metodos-pago div {
    margin: 0.5rem 0;
}

.tarjeta-formulario {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}

.formulario {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1rem;
}

.tarjeta-visual {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmar-compra-button {
    padding: 0.5rem 2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
}

.confirmar-compra-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* Tarjeta de crédito estilos */
.flip-card {
    background-color: transparent;
    width: 240px;
    height: 154px;
    perspective: 1000px;
    color: white;
}

.heading_8264 {
    position: absolute;
    letter-spacing: .2em;
    font-size: 0.5em;
    top: 2em;
    left: 18.6em;
}

.logo {
    position: absolute;
    top: 6.8em;
    left: 11.7em;
}

.chip {
    position: absolute;
    top: 2.3em;
    left: 1.5em;
}

.contactless {
    position: absolute;
    top: 3.5em;
    left: 12.4em;
}

.number {
    position: absolute;
    font-weight: bold;
    font-size: .6em;
    top: 8.3em;
    left: 1.6em;
}

.valid_thru {
    position: absolute;
    font-weight: bold;
    top: 635.8em;
    font-size: .01em;
    left: 140.3em;
}

.date_8264 {
    position: absolute;
    font-weight: bold;
    font-size: 0.5em;
    top: 13.6em;
    left: 3.2em;
}

.name {
    position: absolute;
    font-weight: bold;
    font-size: 0.5em;
    top: 16.1em;
    left: 2em;
}

.strip {
    position: absolute;
    background-color: black;
    width: 15em;
    height: 1.5em;
    top: 2.4em;
    background: repeating-linear-gradient(
        45deg,
        #303030,
        #303030 10px,
        #202020 10px,
        #202020 20px
    );
}

.mstrip {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 8em;
    height: 0.8em;
    top: 5em;
    left: .8em;
    border-radius: 2.5px;
}

.sstrip {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 4.1em;
    height: 0.8em;
    top: 5em;
    left: 10em;
    border-radius: 2.5px;
}

.code {
    font-weight: bold;
    text-align: center;
    margin: .2em;
    color: black;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
}

.flip-card-front {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-color: #171717;
}

.flip-card-back {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-color: #171717;
    transform: rotateY(180deg);
}


.custom-container {
    background-color: #F0F9FF;
    display: flex;
    width: 460px;
    height: 120px;
    position: relative;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
  }
  
  .custom-container:hover {
    transform: scale(1.03);
    width: 220px;
  }
  
  .custom-container:hover .custom-left-side {
    width: 100%;
  }
  
  .custom-left-side {
    background-color: #5de2a3;
    width: 130px;
    height: 120px;
    border-radius: 4px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    flex-shrink: 0;
    overflow: hidden;
    margin-top: -8px;
  }
  
  .custom-right-side {
    width: calc(100% - 130px);
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .custom-right-side:hover {
    background-color: #f9f7f9;
  }
  
  .custom-arrow {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
  
  .custom-new {
    font-size: 20px;
    margin-left: 50px;
    color: black;
  }
  
  .custom-card {
    width: 70px;
    height: 46px;
    background-color: #c7ffbc;
    border-radius: 6px;
    position: absolute;
    display: flex;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
  }
  
  .custom-card-line {
    width: 65px;
    height: 13px;
    background-color: #80ea69;
    border-radius: 2px;
    margin-top: 7px;
  }
  
  @media only screen and (max-width: 480px) {
    .custom-container {
      transform: scale(0.7);
    }
  
    .custom-container:hover {
      transform: scale(0.74);
    }
  
    .custom-new {
      font-size: 18px;
    }
  }
  
  .custom-buttons {
    width: 8px;
    height: 8px;
    background-color: #379e1f;
    box-shadow: 0 -10px 0 0 #26850e, 0 10px 0 0 #56be3e;
    border-radius: 50%;
    margin-top: 5px;
    transform: rotate(90deg);
    margin: 10px 0 0 -30px;
  }
  
  .custom-container:hover .custom-card {
    animation: custom-slide-top 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) both;
  }
  
  .custom-container:hover .custom-post {
    animation: custom-slide-post 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
  }
  
  @keyframes custom-slide-top {
    0% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-70px) rotate(90deg);
    }
  
    60% {
      transform: translateY(-70px) rotate(90deg);
    }
  
    100% {
      transform: translateY(-8px) rotate(90deg);
    }
  }
  
  .custom-post {
    width: 63px;
    height: 75px;
    background-color: #dddde0;
    position: absolute;
    z-index: 11;
    bottom: 10px;
    top: 120px;
    border-radius: 6px;
    overflow: hidden;
  }
  
  .custom-post-line {
    width: 47px;
    height: 9px;
    background-color: #545354;
    position: absolute;
    border-radius: 0px 0px 3px 3px;
    right: 8px;
    top: 8px;
  }
  
  .custom-post-line:before {
    content: "";
    position: absolute;
    width: 47px;
    height: 9px;
    background-color: #757375;
    top: -8px;
  }
  
  .custom-screen {
    width: 47px;
    height: 23px;
    background-color: #ffffff;
    position: absolute;
    top: 22px;
    right: 8px;
    border-radius: 3px;
  }
  
  .custom-numbers {
    width: 12px;
    height: 12px;
    background-color: #838183;
    box-shadow: 0 -18px 0 0 #838183, 0 18px 0 0 #838183;
    border-radius: 2px;
    position: absolute;
    transform: rotate(90deg);
    left: 25px;
    top: 52px;
  }
  
  .custom-numbers-line2 {
    width: 12px;
    height: 12px;
    background-color: #aaa9ab;
    box-shadow: 0 -18px 0 0 #aaa9ab, 0 18px 0 0 #aaa9ab;
    border-radius: 2px;
    position: absolute;
    transform: rotate(90deg);
    left: 25px;
    top: 68px;
  }
  
  @keyframes custom-slide-post {
    50% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(-70px);
    }
  }
  
  .custom-dollar {
    position: absolute;
    font-size: 16px;
    font-family: "Lexend Deca", sans-serif;
    width: 100%;
    left: 0;
    top: 0;
    color: #4b953b;
    text-align: center;
  }
  
  .custom-container:hover .custom-dollar {
    animation: custom-fade-in-fwd 0.3s 1s backwards;
  }
  
  @keyframes custom-fade-in-fwd {
    0% {
      opacity: 0;
      transform: translateY(-5px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  