.section-configuracion {
    margin: 0 auto;
    height: 80vh;
  }
  
  .section-configuracion h1 {
    text-align: center;
  }
  
  .section-configuracion button {
    display: block;
    margin: 10px auto;
  }

.section-configuracion .datos-usuarios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}